/*colors:
purple: #ab84fc;
lavendar: #e9e1f8;
red: #fc84a6;
peach: #fdb8af;
gray: #f5f5f5;
dark gray: #d2d2d2;
yellow: #FFF4C2;
rose: #EFC2E3;
blue: #C5EAFB;
*/

body {
  font-family: Montserrat;
  font-weight: 300;
}

nav {
  background-color: #f5f5f5;
  color: #d2d2d2;
}

nav:hover {
  background-color: #fdb8af;
  color: white;
}

nav:hover .circle {
  background-color: #fc84a6;
}

ul {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  list-style: none;
  margin: 0;
  padding: 10px 50px;
}

li:hover {
  cursor: pointer;
  font-weight: 500;
}

.circle {
  background-color: #d2d2d2;
  border-radius: 50%;
  height: 73px;
  text-align: center;
  width: 73px;
}

.user-photo {
  height: 50px;
  margin-top: 10px;
}

.user-info {
  margin-left: 20px;
  position: fixed;
}

menu {
  display: grid;
  padding: 50px;
}

.grid-main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.side-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-card-stretch {
  height: 70%;
  left: 4%;
  position: fixed;
  text-align: center;
  top: 20%;
  width: 70%;
}

h3 {
  font-weight: 300;
  padding: 10px;
}

.info-text {
  margin: 0;
}

.widget {
  height: 180px;
}

.widget:hover {
  cursor: pointer;
}

.close {
  height: 100px;
}

.close:hover {
  cursor: pointer;
}

.yellow {
  background-color: #FFF4C1;
}

.blue {
  background-color: #c5eafb;
}

.lavendar {
  background-color: #e9e1f8;
}

.rose {
  background-color: #EFC2E3;
}

.peach {
  background-color: #fdb8af;
}

.hidden {
  display: none;
}